@media (max-width: 550px) {
    .container {
      max-width: 90%;
    }

  }



/*----------------- START HOME SECTION ----------------*/

@media (max-width: 550px) {

    .home-content h1 {
        font-size: 36px;
      }

    .home-content h6 {
      font-size: 16px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

/*----------------- END HOME SECTION ----------------*/