@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Applied to all  */

:root {
  --dark-color: #2f2f2f; /* Dark background */
  --light-color: #f2efe9; /* Light background */
  --c-color: #00aae9; /* Accent green */
  --m-color: #d92d8a; /* Accent green */
  --y-color: #fff34a; /* Accent green */
}

 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
 font-family: "Archivo", sans-serif;
}


body {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.container {
  max-width: 960px;
  margin: auto;
  padding: 5px 20px;
}



/*----------------- START HOME SECTION ----------------*/


/* Fullscreen Particle.js background */
#particles-js {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  z-index: 1; /* Ensures this section is above the particles */
}

.home-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
    background-color: var(--light-color);
}

/* Subtitle */

.home-content h4 {
  font-weight: 400;
  font-size: 20px;
  color: var(--dark-color); 
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  padding-top: 10px;
}


.home-content h1 {
  font-size: 48px;
  position: relative;
  white-space: nowrap;
  padding-bottom: 20px;
}

/* Content */

.home-content h6 {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-color); 
  max-width: 650px;
  margin: 0 auto 20px auto;
  line-height: 1.7;
}
/*----------------- END HOME SECTION ----------------*/

/*----------------- START PROJECTS SECTION ----------------*/

.projects {
  position: relative;
  background: var(--dark-color);
  z-index: 2;
  padding: 200px 0;
}

/* Project Cards */

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* Updated Card Styles */
.card {
  background: var(--dark-color);
  width: 280px; /* Set a fixed width */
  height: 280px; /* Set the height equal to the width to make it square */
  cursor: pointer;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  overflow: hidden; /* Ensure content stays within the card */
}

.card img {
  width: 100%;
  height: 100%; /* Ensures the image fills the card */
  object-fit: cover; /* Ensures the image covers the container, zooming in if necessary */
}

.card:hover {
  transform: scale(1.02); 
}

/*----------------- END PROJECTS SECTION ----------------*/

/*----------------- START FOOTER SECTION----------------*/

.footer {
  position: relative;
  z-index: 2;
  padding: 80px 0; 
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 12px;
  color: var(--dark-color); 
  padding-bottom: 100px;
}

.footer .name{
  font-size: 24px;
}

.icon-container {
  display: flex;
  justify-content: center; 
  gap: 15px; 
  flex-wrap: wrap; 
  margin-top: 20px; 
  padding-right: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  background-color: var(--dark-color); 
  color: var(--light-color);
  font-size: 15px; 
  text-decoration: none; 
  transition: all 0.3s ease-in-out; 
}

/* Hover styles for individual icons */

.icon-container .icon:nth-child(2):hover {
  background-color:var(--c-color); 
}
.icon-container .icon:nth-child(3):hover {
  background-color: var(--m-color);
}
.icon-container .icon:nth-child(4):hover {
  background-color: var(--y-color); 
  color: var(--dark-color);
}

/*------------------ END FOOTER SECTION----------------*/